---
title: University-of-Trial-and-Error
layout: base.njk
---

<div class="container">
  <h1>You are Jamstastic</h1>
    <div class="vibe"></div>
    <div class="honeypot">
      <span role="img" aria-label="honey pot" aria-hidden="false">🍯</span>
    </div>

    <h2>For Review & Reflection</h2>
    <ul class="news-list">
    {% for item in collections.notes %}
      <li>
          <a href="{{ item.url | url }}" class='animated-underline'>{{ item.data.title }}</a>
      </li>
    {% endfor %}
    </ul>
</div>
<script src="{{ '/js/vibe.js' | url }}"></script>