---
title: A page for you | Jamstastic
layout: base.njk
---

<div class="container">
  <h1>This is a page for you</h1>
    <div class="vibe">You are Jamstastic</div>
    <div class="honeypot">
      <span role="img" aria-label="honey pot" aria-hidden="false">🍯</span>
    </div>

    <div class="news-data"></div>
    <ul class="news-list">
    {% for article in news.articles %}
      <li class="news-list__item">
        <img src="{{article.urlToImage}}" alt="{{article.title}}" class="news-list__item--image" />
        <h2 class="news-list__item--title" >
          <a href="{{article.url}}" class="news-list__item--link" >{{ article.title }}</a>
        </h2>
        <span class="news-list__item--meta" >{{article.source.name}} | <time>{{article.publishedAt}}</time></span>
      </li>
    {% endfor %}
    </ul>
</div>
<script src="/js/vibe.js"></script>