---
title: A page for you | Jamstastic
layout: base.njk
---

<div class="container">
  <h1>This is a page for you</h1>
    <div class="vibe">You are Jamstastic</div>
    <div class="honeypot">
      <span role="img" aria-label="honey pot" aria-hidden="false">🍯</span>
    </div>

    <div class="country-data"></div>
    <h2>News for you</h2>
    <ul class="news-list">
    {% for item in news %}
      <li class="country-list__item">
          <a href="{{ item.country }}" class="country-list__item--link" >{{ item.country }}</a>
      </li>
    {% endfor %}
    </ul>
</div>
<script src="{{ '/js/vibe.js' | url }}"></script>