---
title: News for you | Jamstastic
layout: base.njk
pagination:
  data: news
  size: 1
  alias: news
permalink: /{{ news.country }}/index.html
---

<div class="container">
    <div class="honeypot">
      <span role="img" aria-label="honey pot" aria-hidden="false">🍯</span>
    </div>

    <div class="weather-data">
      <h1 class="city">Current weather in </h1>
      <p class="temp">Feels like </p>
      <p class="desc">Conditions: </p>
    </div>

  <h1>News just for you from {{ news.country }}</h1>
    <ul class="news-list">
    {% for article in news.articles %}
      <li class="news-list__item">
        <img src="{{article.urlToImage}}" alt="{{article.title}}" class="news-list__item--image" />
        <h2 class="news-list__item--title" >
          <a href="{{article.url}}" class="news-list__item--link" >{{ article.title }}</a>
        </h2>
        <span class="news-list__item--meta" >{{article.source.name}} | <time>{{article.publishedAt}}</time></span>
      </li>
    {% endfor %}
    </ul>
</div>
<script src="{{ '/js/weather.js' | url }}"></script>